$layout-breakpoint-esm: 354px;
$layout-breakpoint-sm: 640px;
$layout-breakpoint-md: 768px;
$layout-breakpoint-lg: 1024px;
$layout-breakpoint-xl: 1280px;
$layout-breakpoint-2xl: 1536px;

.sidebar-bg {
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0;
  width: 100%;
  background: #f7f7f9;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  z-index: 2;
  &_closed {
    display: none;
  }
}

// nav
.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  right: 0px;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 2;
  overflow-y: auto;
  &_closed {
    display: none;
  }
  // &-name {
  //   font-size: 36px;
  //   font-weight: 700;
  //   word-wrap: break-word;
  //   height: auto;
  //   overflow-x: hidden;
  //   margin-bottom: 10px;
  //   z-index: 2;
  //   flex: 0 0 30%;
  //   width: 100%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  // ul
  &-blocks {
    width: 90%;
    padding: 0px 5% 0px 10%;
    z-index: inherit;
    margin-top: 55px;
  }
  // li
  &-block {
    cursor: pointer;
    color: rgb(100, 97, 97);
    z-index: inherit;
    font-size: 22px;
    margin-bottom: 10px;
  }
  &-block_active {
    text-decoration: underline;
  }
}

@media (min-width: $layout-breakpoint-esm) {
  .sidebar-bg {
    width: 280px;
  }
  .sidebar {
    width: 280px;
  }
}

@media (min-width: $layout-breakpoint-sm) {
  .sidebar-bg {
    width: 285px;
  }
  .sidebar {
    width: 285px;
  }
}

@media (min-width: $layout-breakpoint-md) {
  .sidebar-bg {
    width: 290px;
  }
  .sidebar {
    width: 290px;
  }
}

@media (min-width: $layout-breakpoint-lg) {
  .sidebar-bg {
    width: 295px;
  }
  .sidebar {
    width: 295px;
  }
}

@media (min-width: $layout-breakpoint-xl) {
  .sidebar-bg {
    width: 300px;
  }
  .sidebar {
    width: 300px;
  }
}

@media (min-width: $layout-breakpoint-2xl) {
  .sidebar-bg {
    width: 305px;
  }
  .sidebar {
    width: 305px;
  }
}