$layout-breakpoint-esm: 354px;
$layout-breakpoint-sm: 640px;
$layout-breakpoint-md: 768px;
$layout-breakpoint-lg: 1024px;
$layout-breakpoint-xl: 1280px;
$layout-breakpoint-2xl: 1536px;

.footer {
  width: 100%;
  font-size: 24px;
  z-index: -1;
  background-color: #49464d;
  &-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    color: white;
    flex-direction: column;
    /* padding: 10px 15px 10px 15px; */
    padding: 0 15px 0 15px;
  }
  &-month {
    position: absolute;
    font-size: 14px;
    padding-left: 8px;
  }
  &-block {
    padding-top: 13px;
    display: flex;
    text-align: center;
    justify-content: center;
    &__text {
      font-size: 14px;
    }
  }
}
@media (min-width: $layout-breakpoint-esm) {
  .footer {
    &-container {
      flex-direction: row;
    }
    &-month {}
    &-block {
      &__text {
        font-size: 16px;
      }
    }
  }
}

@media (min-width: $layout-breakpoint-sm) {
  .footer {
    &-container {}
    &-month {}
    &-block {
      &__text {
        font-size: 16px;
      }
    }
  }
}

@media (min-width: $layout-breakpoint-md) {
  .footer {
    &-container {}
    &-month {}
    &-block {
      &__text {
        font-size: 18px;
      }
    }
  }
}
@media (min-width: $layout-breakpoint-xl) {
  .footer {
    &-container {}
    &-month {}
    &-block {
      &__text {
        font-size: 20px;
      }
    }
  }
}

@media (min-width: $layout-breakpoint-2xl) {
  .footer {
    &-container {}
    &-month {}
    &-block {
      &__text {
        font-size: 24px;
      }
    }
  }
}


